body{
    font-family: font-family: 'Poppins', sans-serif;;
    margin: 0;
}
h1{
    font-size: 50px;
    color:orange;
}
.bg-color{
    color:rgb(0, 255, 0);
}
span{
    color: blue;
}
img{
    border-radius: 200%;
    width: 500px;  
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 100%;
}
.half-width img{
    width: 80%;
}
.link-buton{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: rgb(247, 247, 247);
    padding: 10px 20px;
    border-radius: 5px;
}
.orange-color{
    color: orange;
}
.color{
    color: rgb(247, 0, 255);
}
.experiance-item{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    margin: 5%;
    padding: 10px;
    border-radius: 20px;
}
#jabed{
    border-left: 7px solid;
    border-image: linear-gradient(red, blue);
    border-image-slice: 1;
}
#jabed1{
    border-left: 7px solid;
    border-image: linear-gradient(#fffb00, #00ff95);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
.top-baner{
    background-image: url("img/top-banner.png");
    margin: 0;
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url("img/dream-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}